.item {
  border-bottom: 1px solid #eee;
}

.item:hover {
  background: #f7f7f7;
  transition: background 300ms;
}

.bg-lighter {
  background: #fdfcfb;
}

.img-modal {
  cursor: pointer;  
}

.item-seller {
  font-size: 0.75rem;
}

.item-price {
  font-weight: 600;
}

.btn-buy {
  box-sizing: border-box;
  width: 100%;
}