// Colors
$dark-grey: #333;
$grey: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;
// Font Size
$font-size-large: 18px;
$font-size-small: 14px;
// Spacing
$s-size: 12px;
$m-size: 16px;
$l-size: 32px;
$xl-size: 48px;
$desktop-breakpoint: 450px;
